
@import url(https://fonts.googleapis.com/css?family=Roboto:400+700);
$primary-font: 'Muli', sans-serif;
$primary-color: #055e60;
$secondary-color: #f38f1b;
$third-color: #212121;
.post-statistic{
  display: none;
  #chart {
    width: 100%;
    height: 300px;
    margin: 10px auto 0;
    margin-bottom: 3em;
    display: block;

    #numbers {
      width: 10%;
      height: 100%;
      margin: 0;
      padding: 0;
      display: inline-block;
      float: left;

      li {
        text-align: left;
        padding-right: 1em;
        list-style: none;
        height: 29px;
        position: relative;
        bottom: 15px;

        &:last-child {
          height: 30px;
        }

        span {
          color: $primary-color;
          position: absolute;
          bottom: 0;
        }
      }
    }

    #bars {
      display: flex;
      background: $primary-color;
      width: 90%;
      height: 300px;
      padding: 0;
      margin: 0;


      li {
        display: table-cell;
        width: 20%;
        height: 300px;
        margin: 0;
        text-align: center;
        position: relative;

        .bar {
          display: block;
          width: 70px;
          margin-left: 15px;
          background: $secondary-color;
          position: absolute;
          bottom: 0;

          &:hover {
            opacity: 0.8;
            cursor: pointer;

            &:before {
              color: $secondary-color;
              content: attr(data-count);
              position:relative;
              bottom: 20px;
            }
          }
        }

        span {
          color: $primary-color;
          width: 100%;
          position: absolute;
          bottom: -2em;
          left: 0;
          text-align: center;
        }
      }
    }
  }
}

#PostRateModal{
  max-width: 50%;
  margin: auto;
  overflow-y:hidden ;

  .modal-body{
    overflow-y: auto;
    max-height: 60vh;
    img{
      width: 75px;
      height: 75px;
      border-radius: 50%;
      object-fit: cover;
    }
    p{
      font-weight: bold;
      line-height: 75px;
      vertical-align: middle;
      margin: 0px;
    }
  }
}
