@font-face {
  font-family: "Freestyle Script";
  src: url("../fonts/FREESCPT.TTF") format("truetype"); }
body {
  font-family: "Muli", sans-serif !important;
  background-image: url(../img/login-background.jpg);
  background-size: cover;
  text-decoration: none !important;
  background-repeat: no-repeat;
  color: #055e60 !important; }

.side-bar {
  z-index: 20;
  -webkit-box-shadow: 3px 0px 9px 0px rgba(0, 0, 0, 0.34);
  -moz-box-shadow: 3px 0px 9px 0px rgba(0, 0, 0, 0.34);
  box-shadow: 3px 0px 9px 0px rgba(0, 0, 0, 0.34);
  transition: all 400ms !important;
  text-align: center;
  position: fixed !important;
  background-color: #055e60;
  padding-left: 0px !important;
  padding-right: 0px !important;
  height: 100%; }
  .side-bar a {
    transition: 200ms; }
    .side-bar a:hover {
      opacity: 0.7; }
  .side-bar .logo {
    text-align: center;
    width: 100%;
    padding-top: 10px; }
    .side-bar .logo img {
      width: 50%;
      transition: all 200ms; }
      .side-bar .logo img:hover {
        opacity: 0.6;
        transform: scale(1.02); }
  .side-bar .user-profile {
    padding: 20px; }
    .side-bar .user-profile .user-image {
      background-color: black;
      position: relative;
      margin: auto;
      width: 150px;
      height: 150px;
      overflow: hidden;
      border: 1px solid rgba(35, 163, 166, 0.99);
      border-radius: 50%;
      -webkit-box-shadow: 0px 0px 6px 1px rgba(255, 255, 255, 0.52);
      -moz-box-shadow: 0px 0px 6px 1px rgba(255, 255, 255, 0.52);
      box-shadow: 0px 0px 6px 1px rgba(255, 255, 255, 0.52); }
      .side-bar .user-profile .user-image:hover a {
        top: 40%; }
      .side-bar .user-profile .user-image:hover img {
        opacity: 0.5; }
      .side-bar .user-profile .user-image img {
        object-fit: cover;
        width: 155px;
        height: 155px; }
      .side-bar .user-profile .user-image a {
        position: absolute;
        top: 150%;
        left: 25%; }
  .side-bar h4 {
    color: white;
    font-weight: 900;
    font-size: 16px; }
  .side-bar .nav-pills .nav-link {
    color: white;
    font-weight: 700;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 0px; }
  .side-bar .nav-pills .active {
    background-color: rgba(255, 255, 255, 0.3) !important;
    color: #f38f1b !important; }

.card {
  background-color: rgba(19, 102, 104, 0.2) !important; }

.login-form {
  position: absolute;
  top: 50% !important; }
  .login-form h2 {
    cursor: pointer;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: 900 !important; }

#active {
  opacity: 1 !important;
  transition: all 200ms;
  border: 4px solid #055e60;
  border-top: none;
  border-right: none;
  border-left: none; }

#register {
  display: none; }

.my-button {
  text-decoration: none !important;
  cursor: pointer;
  transition: all 300ms;
  padding: 7px 17px 7px 17px;
  background-color: transparent;
  color: white;
  font-weight: 600;
  border: 1px solid white !important; }
  .my-button:hover {
    color: white;
    background-color: #055e60 !important; }

.dropdown-menu {
  margin: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  border: none !important;
  top: 0px !important;
  color: white;
  overflow: visible !important;
  font-weight: 700;
  border-radius: 0px !important;
  background-color: #055e60 !important;
  position: absolute;
  width: 100%;
  left: 100% !important; }

.dropdown-toggle:after {
  border: none !important; }

.last-events {
  background-color: rgba(0, 0, 0, 0.2); }
  .last-events .last-events-header {
    padding: 10px; }
    .last-events .last-events-header h4 {
      color: white;
      font-weight: 700;
      text-align: center; }
  .last-events .last-events-content {
    width: 100%;
    text-align: left;
    font-size: 12px; }
    .last-events .last-events-content .item {
      overflow: hidden;
      position: relative;
      padding-top: 5px;
      padding-bottom: 5px;
      background-color: #f38f1b; }
      .last-events .last-events-content .item img {
        opacity: 0.5;
        top: 0px;
        object-fit: cover;
        width: 100%;
        height: 100%;
        position: absolute; }
      .last-events .last-events-content .item h4 {
        font-size: 12px;
        color: white; }
      .last-events .last-events-content .item p {
        margin-bottom: 0px;
        color: white; }
        .last-events .last-events-content .item p span {
          color: #055e60; }

.topbar {
  padding: 10px !important;
  padding-right: 30px !important;
  background-color: #055e60 !important;
  font-size: 14px;
  z-index: 1;
  position: fixed;
  width: 100%;
  top: 0px; }
  .topbar .nav-link {
    color: white;
    font-weight: 500; }
  .topbar .search-form {
    transition: all 400ms;
    border-radius: 0px;
    border: none;
    background-color: rgba(0, 0, 0, 0.3); }
  .topbar a {
    text-decoration: none !important;
    transition: all 400ms !important; }
    .topbar a i {
      font-size: 14px !important; }
    .topbar a:hover {
      cursor: pointer;
      opacity: 0.7; }

.content {
  padding-left: 17.7%;
  padding-right: 20px; }

.left-position {
  padding: 5px;
  display: inline-flex;
  height: 30px;
  float: left;
  border-radius: 5px;
  background-color: #f38f1b;
  -ms-transform: skewX(-44deg);
  -webkit-transform: skewX(-44deg);
  transform: skewX(-44deg);
  padding-right: 50px;
  padding-left: 70px;
  margin-left: 14%; }
  .left-position .left-position-content {
    -ms-transform: skewX(44deg);
    -webkit-transform: skewX(44deg);
    transform: skewX(44deg); }
    .left-position .left-position-content i {
      color: white;
      font-weight: bolder;
      margin-left: 10px;
      margin-right: 10px; }
    .left-position .left-position-content a {
      transition: 200ms;
      font-size: 12px;
      font-weight: 700;
      text-decoration: none;
      color: white; }
      .left-position .left-position-content a:hover {
        opacity: 0.7; }

.right-position {
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #f38f1b; }

.site-position {
  height: 30px;
  width: 100%;
  position: relative; }

.hvr-sweep-to-right:hover {
  background-color: #f38f1b !important; }

.notifications {
  width: 26%;
  left: 30%;
  position: fixed !important;
  z-index: 10000;
  top: -3px; }
  .notifications .notifications-item1 {
    overflow: hidden;
    transition: all 500ms;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    padding: 5px;
    padding-top: 8px;
    height: 35px;
    background-color: white; }
    .notifications .notifications-item1 p {
      margin: 0px;
      color: #212121 !important; }
    .notifications .notifications-item1:hover {
      cursor: pointer; }
  .notifications .notifications-item2 {
    overflow: hidden;
    transition: all 500ms;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
    padding: 5px;
    padding-top: 8px;
    height: 35px;
    background-color: white; }
    .notifications .notifications-item2 p {
      margin: 0px;
      color: #212121 !important; }
    .notifications .notifications-item2:hover {
      cursor: pointer; }
  .notifications .notifications-content {
    margin-top: 10px;
    color: black;
    display: none;
    width: 100%;
    padding-bottom: 5px; }
    .notifications .notifications-content hr {
      border-color: rgba(255, 255, 255, 0.3) !important;
      color: white !important;
      margin: 0px !important; }
    .notifications .notifications-content p {
      margin: 5px 0px 5px 0px;
      color: white !important; }
    .notifications .notifications-content a {
      padding: 2px 5px 2px 5px; }
      .notifications .notifications-content a:hover {
        background-color: transparent !important;
        opacity: 0.7; }
  .notifications .active {
    display: block;
    background-color: rgba(45, 222, 225, 0.23) !important; }
  .notifications .shadow {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.41); }

.edit-profile {
  position: relative;
  padding: 20px 10px 20px 10px;
  background-color: rgba(255, 255, 255, 0.3);
  margin-top: 20px;
  border-radius: 5px; }
  .edit-profile h3 {
    font-weight: 800; }
  .edit-profile img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.7);
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.7);
    border-radius: 5px; }
  .edit-profile input, .edit-profile .bootstrap-tagsinput, .edit-profile textarea {
    background-color: rgba(255, 255, 255, 0.3); }
    .edit-profile input:focus, .edit-profile .bootstrap-tagsinput:focus, .edit-profile textarea:focus {
      box-shadow: none;
      background-color: rgba(255, 255, 255, 0.5); }
  .edit-profile .my-button {
    color: #055e60;
    border-color: #055e60 !important; }
    .edit-profile .my-button:hover {
      color: white; }

.modal-dialog {
  padding: 50px;
  max-width: 100% !important; }
  .modal-dialog .modal-content #photo {
    max-width: 100%;
    max-height: 400px; }
  .modal-dialog .modal-content .modal-header h5 {
    font-weight: bolder;
    font-family: Muli; }

.image-add {
  position: absolute;
  top: 10px;
  float: right;
  margin-left: 1% !important; }
  .image-add a {
    transition: 200ms; }
    .image-add a:hover {
      opacity: 0.6; }
  .image-add i {
    background-color: gray;
    padding: 5px;
    border-radius: 100%;
    font-size: 15px;
    color: white;
    opacity: 0.6; }
  .image-add .active {
    background-color: #055e60 !important;
    opacity: 1 !important; }

.modal-photos {
  overflow: hidden;
  max-width: 70%;
  max-height: 700px;
  padding-left: 50px; }
  .modal-photos img {
    max-width: 100%; }
  .modal-photos .modal-content {
    border: none;
    position: relative;
    -webkit-box-shadow: 0px 0px 25px 4px rgba(255, 8, 255, 0.59);
    -moz-box-shadow: 0px 0px 25px 4px rgba(255, 8, 255, 0.59);
    box-shadow: 0px 0px 25px 4px rgba(255, 8, 255, 0.59); }
  .modal-photos .modal-footer {
    justify-content: center;
    border: none; }

/* End Single Club Site */
#modal-button {
  background-color: #055e60;
  position: absolute;
  top: 30px;
  left: 50%;
  border-radius: 200px; }
  #modal-button:hover {
    background-color: black; }

.my_tooltip {
  position: relative; }
  .my_tooltip span {
    width: 300%;
    left: 0px;
    opacity: 1 !important;
    border-radius: 5px;
    color: white;
    position: absolute;
    top: 150%;
    font-weight: bold;
    visibility: hidden;
    font-size: 9px;
    text-align: center;
    text-wrap: none; }
  .my_tooltip:hover span {
    transition: 200ms;
    visibility: visible;
    background-color: black;
    padding: 2px; }

.post-site p {
  text-shadow: 0px 0px 9px #000000; }
.post-site .container {
  position: relative;
  background-color: transparent; }
.post-site .user-image {
  position: relative;
  transition: 500ms !important;
  width: 250px;
  height: 250px;
  overflow: hidden;
  border: 1px solid rgba(35, 163, 166, 0.99);
  border-radius: 50%; }
  .post-site .user-image img {
    object-fit: cover;
    width: 250px;
    height: 250px;
    animation-name: smaller;
    animation-duration: 1s; }

.ui-autocomplete {
  z-index: 2147483647; }

#post-create, #employee-create {
  z-index: 50000;
  width: 100%;
  background-image: url(../img/login-background.jpg);
  background-size: cover;
  background-repeat: no-repeat; }
  #post-create #post-create-content, #employee-create #post-create-content {
    background-color: transparent;
    border: none; }
    #post-create #post-create-content input, #employee-create #post-create-content input {
      background-color: rgba(255, 255, 255, 0.7) !important; }
  #post-create .modal-dialog, #employee-create .modal-dialog {
    margin-top: 0px !important;
    padding-top: 0px !important; }
  #post-create #close-button, #employee-create #close-button {
    border-radius: 100%;
    position: absolute;
    right: 0px;
    font-size: 18px; }
  #post-create #post-create-form .img-holder, #employee-create #post-create-form .img-holder {
    display: none;
    width: 400px;
    height: 200px;
    position: relative; }
    #post-create #post-create-form .img-holder img, #employee-create #post-create-form .img-holder img {
      max-width: 100%;
      max-height: 100%; }
    #post-create #post-create-form .img-holder button, #employee-create #post-create-form .img-holder button {
      left: 2%;
      top: 2%;
      position: absolute;
      padding: 0.3rem; }

.tag {
  background-color: #055e60 !important;
  padding: 2px;
  border-radius: 2px; }

th, td {
  border: none !important; }

tbody tr:nth-child(odd) {
  background-color: #055e60;
  color: #fff; }
  tbody tr:nth-child(odd) a span {
    color: white !important; }

td img {
  max-width: 40px !important;
  max-height: 40px !important; }

#photos {
  z-index: 100000;
  text-align: center;
  margin: auto;
  overflow: hidden;
  max-width: 70%;
  max-height: 100%;
  padding-left: 50px; }
  #photos img {
    max-height: 100%;
    max-width: 100%; }
  #photos .modal-dialog {
    height: 100%;
    width: 100%;
    padding: 0px !important;
    margin: 0px !important; }
  #photos .modal-content {
    text-align: center;
    border: none;
    position: relative;
    -webkit-box-shadow: 0px 0px 25px 4px rgba(255, 8, 255, 0.59);
    -moz-box-shadow: 0px 0px 25px 4px rgba(255, 8, 255, 0.59);
    box-shadow: 0px 0px 25px 4px rgba(255, 8, 255, 0.59); }
  #photos .modal-footer {
    justify-content: center;
    border: none; }

/* End Single Club Site */
#modal-button {
  background-color: #f38f1b;
  position: absolute;
  top: 10px;
  left: 50%;
  border-radius: 200px; }
  #modal-button:hover {
    background-color: black; }

/* PAGINATION */
.page-link {
  background-color: #055e60 !important;
  color: white !important;
  border: none !important;
  transition: 200ms; }
  .page-link:hover {
    opacity: 0.9; }

.blue_button {
  color: #055e60 !important;
  border-color: #055e60 !important; }
  .blue_button:hover {
    background-color: transparent !important; }

.ui-menu-item {
  padding: 10px;
  background-color: rgba(255, 255, 255, 0.7) !important;
  transition: 200ms all; }
  .ui-menu-item a {
    background-color: transparent !important;
    border: none !important;
    color: black !important; }
  .ui-menu-item:hover {
    background-color: #055e60 !important;
    color: white !important; }
    .ui-menu-item:hover a {
      background-color: transparent !important;
      border: none !important; }
  .ui-menu-item a:hover {
    background-color: transparent !important; }

.mb-0 {
  margin-bottom: 0px !important; }

.bordered {
  border: 1px solid #055e60; }

.overflow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 50px;
  text-align: center; }

.success {
  padding: 10px;
  text-align: center !important;
  text-shadow: none !important;
  font-size: 16px;
  font-weight: bold; }

.employee_card {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 10px;
  border-radius: 2px; }
  .employee_card h2 {
    font-size: 1.3rem;
    font-weight: bold; }
  .employee_card h3 {
    font-size: 1.1rem; }
    .employee_card h3 strong {
      color: #f38f1b; }
  .employee_card .footer {
    max-height: 0px;
    overflow: hidden;
    transition: all 200ms ease-out !important; }
  .employee_card:hover .footer {
    max-height: 400px; }

.timeline_icon {
  width: 8px;
  height: 8px;
  border-radius: 100%;
  background-color: #f38f1b; }

.since_icon {
  float: left; }

.divider {
  position: absolute;
  background: rgba(0, 0, 0, 0.2);
  top: 15%;
  right: 25px;
  height: 70%;
  width: 1px; }

.axis {
  position: absolute;
  left: 0px;
  top: 2px;
  width: 100%;
  height: 2px;
  background-color: #f38f1b; }

.untill_icon {
  float: right; }

.icon {
  transition: 200ms all !important;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #f38f1b;
  align-items: center;
  border-radius: 100%; }
  .icon:hover {
    transform: translateY(-10px); }
    .icon:hover span {
      color: white;
      transform: scale(1.2); }
  .icon span {
    margin: auto; }

.info {
  padding: 3px;
  background-color: #055e60;
  color: white;
  border-radius: 2px; }
  .info p {
    margin: 0px !important;
    font-size: 0.9rem; }

.tab-content {
  color: #055e60; }
  .tab-content h2 {
    font-size: 18px; }
  .tab-content h3 {
    font-size: 16px; }

.btn {
  color: white !important; }

.circle {
  font-size: 300px !important;
  background-color: transparent;
  -webkit-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 16px 1px rgba(0, 0, 0, 0.75); }
  .circle p {
    margin-bottom: 0px !important; }
  .circle:hover .description {
    transform: scale(1.2); }
    .circle:hover .description .rate {
      color: #f38f1b !important; }
  .circle .description {
    transition: all 200ms !important;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    text-align: center;
    z-index: 1;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px; }
    .circle .description .rate {
      font-size: 60px;
      font-weight: bold; }
    .circle .description p {
      color: #c1c1c1 !important; }
  .circle .slice .bar {
    background-color: #055e60 !important; }

.svg {
  width: 110% !important;
  position: absolute;
  left: -80px;
  top: -35px;
  z-index: 0; }

.small-circle {
  font-size: 190px !important;
  margin-top: 50px !important; }
  .small-circle .description .rate {
    font-size: 40px !important; }

.photos {
  /* Prevent vertical gaps */
  line-height: 0;
  -webkit-column-count: 3;
  -webkit-column-gap: 0px;
  -moz-column-count: 3;
  -moz-column-gap: 0px;
  column-count: 3;
  column-gap: 0px; }

.photo {
  /* Just in case there are inline attributes */
  width: 100% !important;
  position: relative;
  height: auto !important;
  transition: all 200ms;
  box-sizing: border-box; }
  .photo:hover {
    z-index: 1000; }
    .photo:hover img {
      -webkit-filter: none;
      -moz-filter: none;
      -o-filter: none;
      -ms-filter: none;
      filter: none; }
    .photo:hover .footer {
      bottom: -50px;
      opacity: 0; }
  .photo img {
    width: 100%;
    height: auto;
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    filter: grayscale(100%); }
  .photo .footer {
    transition: all 200ms;
    height: 45px;
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    background-color: rgba(5, 94, 96, 0.7); }
    .photo .footer p {
      color: white;
      font-size: 14px;
      font-weight: bold;
      margin-bottom: 0px !important; }

.education_photos {
  column-gap: 4px; }

.education {
  background-color: black;
  overflow: hidden; }
  .education:hover img {
    opacity: 0.5; }
  .education:hover .footer {
    -webkit-animation-name: height_animation_in;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 400ms;
    /* Safari 4.0 - 8.0 */
    animation-name: height_animation_in;
    animation-duration: 400ms;
    opacity: 1;
    height: 100%;
    overflow: hidden; }
  .education img {
    filter: none !important;
    transition: all 200ms; }
  .education .footer {
    padding: 20px;
    -webkit-animation-name: height_animation_out;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 400ms;
    /* Safari 4.0 - 8.0 */
    animation-name: height_animation_out;
    animation-duration: 400ms;
    bottom: 0px !important;
    opacity: 0;
    height: 0px;
    line-height: 1 !important; }
    .education .footer hr {
      border-color: rgba(255, 255, 255, 0.5); }
    .education .footer p {
      margin-bottom: 10px !important; }
    .education .footer h3 {
      margin-bottom: 10px;
      color: white;
      font-size: 16px; }
      .education .footer h3 strong {
        font-size: 150%; }

@keyframes height_animation_in {
  from {
    opacity: 0;
    height: 0px; }
  to {
    opacity: 1;
    heightt: 100%; } }
@keyframes height_animation_out {
  from {
    opacity: 1;
    height: 100%; }
  to {
    opacity: 0;
    height: 0px; } }
.friends a {
  transition: all 200ms;
  color: #055e60 !important; }
  .friends a:hover {
    text-decoration: none;
    opacity: 0.9; }
.friends .friend {
  align-items: center;
  padding: 5px 0px 5px 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2); }
  .friends .friend:hover .footer {
    -webkit-animation-name: height_animation_in;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 400ms;
    /* Safari 4.0 - 8.0 */
    animation-name: height_animation_in;
    animation-duration: 400ms;
    opacity: 1;
    height: 100%; }
  .friends .friend .footer {
    -webkit-animation-name: height_animation_out;
    /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 400ms;
    /* Safari 4.0 - 8.0 */
    animation-name: height_animation_out;
    animation-duration: 400ms;
    opacity: 0;
    height: 0px; }
  .friends .friend h2 {
    margin-bottom: 0px !important;
    font-size: 16px; }
  .friends .friend p {
    font-size: 14px;
    color: #727272;
    margin-bottom: 0px; }
  .friends .friend img {
    max-width: 100%;
    max-height: 100%; }

.stylish-search {
  border: 1px solid #055e60; }
  .stylish-search input {
    background-color: transparent !important;
    border: none !important; }
    .stylish-search input:focus {
      box-shadow: none !important; }
  .stylish-search .input-group-addon button {
    background-color: transparent !important;
    height: 100%;
    border: none !important; }

#friend_search_result {
  margin-top: 15px; }

.color_orange {
  color: #f38f1b !important; }

.action a, .action button {
  color: #212121 !important;
  border-color: #212121 !important; }
  .action a:hover, .action button:hover {
    color: white !important;
    border-color: white !important; }

/*# sourceMappingURL=css.css.map */
